<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <a class="back" href="/index.html">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="main">
        <div class="up">
            <button class="card1">
                <h1>I am a</h1>
            </button>
            <button class="card2">
                <a href="/client/account">Client</a>
            </button>
        </div>
        <div class="down">
            <button class="card3">
                <a class="white" href="/contractor/account">Contractor</a>
            </button>
            <button class="card4">
                <a href="/admin/account">Admin</a>
            </button>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/f83293ade7.js" crossorigin="anonymous"></script>
</body>
</html>