@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,100,0,0');

* {
    font-family: 'Poppins', sans-serif;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;
}

body {
    /* background-color: rgb(32, 37, 35); */
    background-color: rgb(29, 29, 31);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    /* background-color: rgb(32, 37, 35); */
    background-color: rgb(29, 29, 31);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0 5rem 3rem 5rem;
    overflow-y: scroll;
    animation: dropPad 4s ease;
}

.container::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(70, 72, 88);
}

@keyframes dropPad {
    0% {
        padding: 30rem 5rem 3rem 5rem;
    }

    100% {
        padding: 0 5rem 3rem 5rem;
    }
}

.head {
    font-size: 20px;
    font-weight: 500;
}

.content {
    color: rgb(121, 121, 140);
}

h1 {
    font-size: 70px;
    margin-bottom: 2rem;
    animation: zoom-up 2s cubic-bezier(1, -0.4, 0, 1.66) forwards;
    font-weight: 500;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.red {
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-right: 10rem; */
    color: rgb(210, 186, 211);
    animation: fade-in 3.2s cubic-bezier(1, -0.4, 0, 1.52) forwards;
    margin-bottom: 1.5rem;
}


.read {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 10rem;
    opacity: 0;
}

.wrap:nth-child(1) {
    animation: fade-in-delay 6s ease forwards;
}

.wrap:nth-child(2) {
    animation: fade-in-delay 6s ease forwards;
}

.wrap:nth-child(3) {
    animation: fade-in-delay 7s ease forwards;
}

.wrap:nth-child(4) {
    animation: fade-in-delay 8s ease forwards;
}

.wrap:nth-child(5) {
    animation: fade-in-delay 9s ease forwards;
}

.wrap:nth-child(6) {
    animation: fade-in-delay 10s ease forwards;
}

.wrap:nth-child(7) {
    animation: fade-in-delay 11s ease forwards;
}

.wrap:nth-child(8) {
    animation: fade-in-delay 11s ease forwards;
}

/* Keyframe animations */

@keyframes zoom-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-delay {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.continue {
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

a{
    color: white;
    animation: continue 12s ease forwards;
}

@keyframes continue {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}